[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fshamoun123
[access "refs/for/refs/*"]
	read = group user/fshamoun123
	push = group user/fshamoun123
	label-Code-Review = -2..+2 group user/fshamoun123
	label-Verified = -1..+1 group user/fshamoun123
	rebase = group user/fshamoun123
	removeReviewer = group user/fshamoun123
	submit = group user/fshamoun123
[access "refs/heads/*"]
	read = group user/fshamoun123
	create = group user/fshamoun123
	push = +force group user/fshamoun123
	pushMerge = group user/fshamoun123
[access "refs/tags/*"]
	push = +force group user/fshamoun123
	pushTag = group user/fshamoun123
	pushSignedTag = group user/fshamoun123
